$mdc-theme-primary: #fcd116;
$mdc-theme-secondary: #003893;
$mdc-theme-on-primary: #000000;
$mdc-theme-on-secondary: #ffffff;
$mdc-typography-font-family: unquote("Roboto,Rubik, Open Sans, -apple-syphonstem, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;");

$mota-theme-primary-light: #ffff58;
$mota-theme-primary-dark: #c7a000;
$mota-theme-secondary-light: #4d61c4;
$mota-theme-secondary-dark: #001464;

@import "./normalize.css";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/card/mdc-card";
@import "@material/data-table/mdc-data-table";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

body {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $mdc-typography-font-family;
}

.js body,
.no-js body {
    background-image: url('../img/basico/colombia-bogota-flavia-carpio.jpg');
}

.no-js body.credits--glass-building,
.js body.credits--glass-building {
    background-image: url('../img/basico/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
}

.mdc-card--free-content {
    padding: 16px;
}

/* ## Skip Links
--------------------------------------------- */

.skip-link {
    margin: 0;
}

.skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 23px 14px;
    color: #333;
    background: #fff;
    z-index: 100000;
    /* Above WP toolbar. */
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

/* ## Main content
--------------------------------------------- */

main,
main.mdc-layout-grid {
    background-color: #fff;
    padding-top: 88px;
}

.mota-theme-primary-light-bg {
    background-color: $mota-theme-primary-light;
    color: $mdc-theme-on-primary;
}

.mota-theme-primary-dark-bg {
    background-color: $mota-theme-primary-dark;
    color: $mdc-theme-on-primary;
}

.mota-theme-secondary-light-bg {
    background-color: $mota-theme-secondary-light;
    color: $mdc-theme-on-secondary;
}

.mota-theme-secondary-dark-bg {
    background-color: $mota-theme-secondary-dark;
    color: $mdc-theme-on-secondary;
}
.mdc-data-table__header-cell,
.mdc-data-table__cell {
    text-align: left;
    white-space: normal;
    word-wrap: normal;
}

th[role=columnheader] {
    background-color: #ced8ec;
}

thead th[role=rowheader] {
    background-color: #c1d3f8;
}

th[role=rowheader],
.column-sub_headers {
    background-color: #ddd;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
/* ## Tablet
--------------------------------------------- */
@media only screen and (min-width: 640px) {

    .no-js body,
    .js body {
        background-image: url('../img/1024/colombia-bogota-flavia-carpio.jpg');
    }

    .no-js body.credits--glass-building,
    .js body.credits--glass-building {
        background-image: url('../img/1024/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }

    main {
        max-width: 90%;
    }
}

/* ## Tablet Vertical Orientation
--------------------------------------------- */
@media only screen and (min-height: 880px) and (orientation : portrait) {
    .js body {
        background-image: url('../img/1280/colombia-bogota-flavia-carpio.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/1280/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }
}

/* ## Large Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .js body {
        background-image: url('../img/1280/colombia-bogota-flavia-carpio-2.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/1280/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash-2.jpg');
    }

    main {
        max-width: 1024px;
    }
}

/* ## Extra Large Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-width: 1400px) {
    .js body {
        background-image: url('../img/2048/colombia-bogota-flavia-carpio.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/2048/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }
}
